{% extends "apps/layouts/base.html" %}

{% block title %} Visitors {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="body flex-grow-1 px-3">
  <div class="px-3">
    <div class="row">
      <div class="col-md-4">
        <div class="card box">
          <div class="box-header with-border">
            <h3 class="box-title">Add Phone Call Log</h3>
          </div>
          <form id="form1" action="admin/generalcall" method="post" accept-charset="utf-8" enctype="multipart/form-data"
            class="form-box">
            <div class="box-body">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  Name
                </label>
                <input type="text" class="form-control" value="" name="name">
              </div>
              <div class="form-group">
                <label for="pwd">
                  Phone
                </label><small class="req"> *</small>
                <input type="text" class="form-control" value="contact" name="contact">
              </div>
              <div class="form-group">
                <label for="pwd">
                  date
                </label>
                <input id="date" name="date" placeholder="" type="text" class="form-control date" value="date'"
                  readonly="readonly" />
              </div>
              <div class="form-group">
                <label for="email">
                  description
                </label>
                <textarea class="form-control" id="description" name="description" rows="3">description</textarea>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label for="pwd">
                    next_follow_up_date
                  </label> <input id="follow_up_date" name="follow_up_date" placeholder="" type="text"
                    class="form-control date" value="follow_up_date" readonly="readonly" />
                </div>
              </div>
              <div class="form-group">
                <label for="pwd">
                  call_duration
                </label>
                <input type="text" class="form-control" value="call_dureation" name="call_dureation">
              </div>
              <div class="form-group">
                <label for="pwd">
                  note
                </label>
                <textarea class="form-control" id="description" name="note" name="note" rows="3">note</textarea>
              </div>
              <div class="form-group">
                <label for="pwd">
                  call_type
                </label>
                <small class="req"> *</small>
                <label class="radio-inline"><input type="radio" name="call_type" value="" checked="">
                </label>
              </div>
            </div>
            <div class="card-footer box-footer">
              <button type="submit" class="btn btn-info pull-right">
                save
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-8">
        general form elements
        <div class="box box-primary">
          <div class="box-header ptbnull">
            <h3 class="box-title titlefix">
              phone_call_log
              list
            </h3>
            <div class="box-tools pull-right">
            </div>
          </div>
          <div class="box-body">
            <div class="mailbox-messages table-responsive">
              <table class="table table-hover table-striped table-bordered example">
                <thead>
                  <tr>
                    <th>
                      name
                    </th>
                    <th>
                      phone
                    </th>
                    <th>
                      date
                    </th>
                    <th>
                      next_follow_up_date
                    </th>
                    <th>
                      call_type
                    </th>
                    <th class="text-right">
                      action
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td class="mailbox-name">
                      Name
                    </td>
                    <td class="mailbox-name">
                      Contact
                    </td>
                    <td class="mailbox-name">


                    </td>
                    <td class="mailbox-name">


                    </td>
                    <td class="mailbox-name">
                      call_type
                    </td>
                    <td class="mailbox-date pull-right">

                    </td>

                  </tr>



                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}