<script src="/static/assets/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="/static/assets/vendors/simplebar/js/simplebar.min.js"></script>

<script src="/static/front/toast-alert/toastr.min.js"></script>
<script src="/static/front/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/front/datepicker/js/bootstrap-datetimepicker.js"></script>

<script src="/static/front/dist/js/nprogress.js"></script>

<script src="/static/front/dist/js/dropify.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/jszip.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/vfs_fonts.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/buttons.print.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="/static/front/dist/datatables/js/ss.custom.js"></script>